body {
	font-family: sans-serif;
  font-size: .8rem;
	margin: 2rem;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}

input {
  font-size: .8rem;
}

.error, .required {
  color: red;
}

ul.recent-links {
  margin: 0;
  padding: 1rem 0 0 0;
}

ul.recent-links li {
  list-style: none;
}
